
.DS_Store

/data
/xig/data

node_modules/

data/config.json

validator_cli.jar

xig/xig-download.log

.idea/codeStyles/

data/logs/

registry/registry-data.json

xig-download.log

locator/

tests/library/.last-integration-test-run

package-cache/

passwords.ini

test-cache/

tests/vs/.vsac-last-run

data/terminology-cache/

shl/private-key.pem

shl/public-key.pem

data/bin/validator_cli.jar.version

tx/tests/test-cases-summary.txt

.idea/

bin/validator_cli.jar.version
