name: CI Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test:ci
        timeout-minutes: 20
        env:
          SUPPRESS_LOGS: 'true'
          NODE_OPTIONS: "--max-old-space-size=14000"

      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results
          path: ./test-results/junit.xml

      - name: Upload coverage reports
        uses: codecov/codecov-action@v4
        with:
          directory: ./coverage/
          token: ${{ secrets.CODECOV_TOKEN }}